@import url(/vendor/yungifez/artisan-ui/dist/artisan.css);
@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    code {
        @apply rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm
    }

    h1 {
        @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl
    }

    h2 {
        @apply mt-12 scroll-m-20 border-b pb-2 text-2xl font-semibold tracking-tight first:mt-0
    }

    h3 {
        @apply scroll-m-20 text-2xl font-semibold tracking-tight mt-8
    }

    .component-preview h3 {
        @apply scroll-m-0 text-base font-normal tracking-normal mt-0
    }

    p {
        @apply leading-7 [&:not(:first-child)]:mt-6
    }

    .component-preview p {
        @apply mt-0
    }

    a {
        @apply underline underline-offset-2
    }

    blockquote {
        @apply mt-6 border-l-2 pl-6 italic
    }

    ul {
        @apply my-6 ml-6 list-disc [&>li]:mt-2
    }

    hr {
        margin: 2rem 0 1rem 0;
    }

    table {
        @apply w-full
    }

    tr {
        @apply m-0 border-t p-0
    }

    th {
        @apply border px-4 py-2 text-left font-bold [&[align=center]]:text-center [&[align=right]]:text-right
    }

    td {
        @apply border px-4 py-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right
    }

    .shiki {
        @apply p-4 pt-8 rounded-lg border overflow-scroll beautify-scrollbar w-full h-full
    }

    .shiki>code {
        @apply bg-transparent flex flex-col w-fit min-w-full
    }

    .shiki>code>.line {
        @apply flex-grow inline-block py-1 tracking-tight
    }

    .line.highlight {
        @apply bg-white/10 min-w-full pr-4 border-l-2 border-white
    }

    .line.focus {
        @apply blur-none
    }

    .highlighted.focus>code>.line:not(.line.focus) {
        @apply blur-sm transition duration-200
    }

    .highlighted.focus:hover code>.line:not(.line.focus) {
        @apply blur-none
    }

    .beautify-scrollbar::-webkit-scrollbar {
        width: 4px;
        height: 4px;
        background-color: rgba(0, 0, 0, 0);
    }

    .beautify-scrollbar::-webkit-scrollbar-corner {
        background-color: transparent;
    }

    .beautify-scrollbar::-webkit-scrollbar-thumb {
        @apply bg-black/20 dark:bg-muted rounded;
    }

}
